body{
    margin: 0px;
    padding: 0px;
    background-image: url("backg.png");

}

div {
    border: 3px solid #b3c5ad;
    margin: 10px;
    border-radius: 25px;
    width: 750px;
    height: 600px;
    position: absolute;
    Top: 20%;
    right: 30%;

  }

h2 {
    position: absolute;
    Top: 25%;
    right: 84%;
}


.Logo {
    width: 20%;
    position: absolute;
    Top: 11.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Sign1 {
    position: absolute;
    top: 18%;
    left: 42%;
}

.Country {
    margin: 10px;
    width: 90%;
    height: 50px;
    border: 3px solid #b3c5ad;
    padding: 2px;
    background-color:  #edf1eb;
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 32%;
    left: 3%;
    border-radius: 15px;
    color: lightgray;
    text-align: left;
    cursor: text;
}

.City {
    margin: 10px;
    width: 90%;
    height: 50px;
    border: 3px solid #b3c5ad;
    padding: 2px;
    background-color:  #edf1eb;
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 45%;
    left: 3%;
    border-radius: 15px;
    color: lightgray;
    text-align: left;
    cursor: text;
}

.Streetnameandnumber {
    margin: 10px;
    width: 90%;
    height: 50px;
    border: 3px solid #b3c5ad;
    padding: 2px;
    background-color:  #edf1eb;
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 58%;
    left: 3%;
    border-radius: 15px;
    color: lightgray;
    text-align: left;
    cursor: text;
}

.Postcode {
    margin: 10px;
    width: 90%;
    height: 50px;
    border: 3px solid #b3c5ad;
    padding: 2px;
    background-color:  #edf1eb;
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 71%;
    left: 3%;
    border-radius: 15px;
    color: lightgray;
    text-align: left;
    cursor: text;
}

.Finish {
    margin: 10px;
    width: 15%;
    height: 50px;
    border: 3px solid #b3c5ad;
    padding: 2px;
    background-color: #b3c5ad;
    position: absolute;
    top: 83%;
    left: 77%;
    color: white;
    text-align: center;
    cursor: not-allowed;
}

.agrment {
    margin: 10px;
    width: 4%;
    height: 5%;
    border: 3px solid #b3c5ad;
    background-color: #b3c5ad;
    position: absolute;
    top: 85%;
    left: 3%;
    border-radius: 50px;
    cursor: pointer;
}

.agrement {
    position: absolute;
    top: 85%;
    left: 10%;
    border-radius: 50px;
}