*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.header{
    width: screen;
    height: 250px;
    border: solid 1px;
    position: relative;
}
.header img{
    height: 200px;
    width: 200px;
}
.logo {
    justify-content: center;
    display: flex;
}
.search-container{
    width: 450px;
    height: 100px;
    background-color: 0;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0px;
    top: 150px;
    gap: 5px;
}
.searchbar .submit {
    width: 448px;
    height: 40px;
    display: flex;
    position: absolute;
    right: 0px;
    top: 30px;
    border: solid 1px;
    border-color: #454a4d;
    border-radius: 12px;
    align-items: center;
}
.searchbar img{
    height: 25px;
    width: 25px;
    display: flex;
    right: 10px;
    position: absolute;
}
.emoji {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.search-container img{
    width: 25px;
    height: 25px;
}
.left-container {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 100px;
}
.buy-sell{
    width: auto;
    height: 55px;
    align-items: center;
    display: flex;
}
.link{
    font-size: 25px;
    width: 125px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    background: none;
}
/* .sell{
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    width: 125px;
    font-family: Arial, Helvetica, sans-serif;
} */
.dropdown.active > .link,
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0,0,0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.categories{
    width: max-content;
    display: grid;
    grid-template-columns: auto;
}
.viis{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.home-about{
    height: 45px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.home{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 25px;
}
.aboutus{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 25px;
{