* {
    margin: 0;
   padding: 0;
 }

.header{
    
}

.home_menu {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 10px;
    justify-content: center;
    }

    .menu_box {
    border: 1px solid  grey;
    font-size: 30px;
    text-align: center;
    width: 300px;
    padding: 50px;
    }